<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>

    <link rel="stylesheet" href="css/page.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</head>
<body>
<div id="wrap">
    <div id="page"><a href="<%=url%>"><%=username%></a></div>
    <div class="logonout"><a href="logonout"><%=loout%></a></div>
    <div class="wel">
        <p>HELLO <b>!</b></p>
        <p>Welcome to my blogs</p>
        <p>I am a job seeker</p>
    </div>
</div>
</body>
</html>