
#canva{
    width: 1348px;
    height: 626px;
    background:linear-gradient(60deg, #ff132e, #3270ff);
}
#centent-form{
    margin-left:400px;
    padding-top: 200px;
}
#username{
    color: white;
}
#centent-form .layui-form-label{
    color: white;
}
#tologon{
    margin-top: 10px;
    margin-left:120px;
    display:flex;
    width: 300px;
    height: 30px;
    line-height: 30px;
}
#tologon span{
    padding-right: 20px;
    font-size: 16px;
}
#tologon a{
    color:black;
}
#tologon a:hover{
    color: #ff82c2;
}